
/* Permalink Module styles */

.copybox {
  margin: 5px 0;
  }

  .copybox-header, .copybox-footer {
    font-size: .75em;
    }
  
  .copybox-link {
    background-color: #fff;
    border: 1px #999 solid;
    padding: 3px;
    }
